<!DOCTYPE html>
<div class="container">
    <div>
    <nav class="header navbar navbar-expand-md bg bg-dark fixed-top ">
        <a href="#" class="navbar-left"><img src="../../assets/mobile/logo.png" height="50px" width="50px"></a>

        <a class="navbar-brand text-white" href="#">
            <h2>SmartWorld Mobiles &nbsp; |  &nbsp;</h2>
        </a>
&nbsp;
&nbsp;
&nbsp;
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a nav-link text-white href="#">
                        <h3 class="text-white">Home</h3>
                    </a>
                </li>
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
&nbsp;
&nbsp;&nbsp;
&nbsp;
&nbsp;
                <li class="nav-item active">
                    <a routerLink="/smartphone" nav-link text-white >
                        <h3 class="text-white">Store</h3>
                    </a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-lg-2" type="text" placeholder="Search here" aria-label="Search">
                <button class="btn btn-success my-2 
            my-sm-0" type="submit">
                    <h3 class="text-white">Search</h3>
                </button>
                
                &nbsp;
                &nbsp;&nbsp;
                &nbsp;
                &nbsp;&nbsp;
                &nbsp;&nbsp;
                &nbsp;
                &nbsp;
                <a class="btn btn-success " routerLink="/login" routerLinkActive="active">
                    <h3 h3 class="text-white">LOGIN</h3>
                </a>
                &nbsp;&nbsp;
                <a class="btn btn-success" routerLink="signup">
                    <h3 h3 class="text-white">SignUp</h3>
                </a>

                &nbsp;&nbsp;

                <button class="btn btn-danger my-2 my-sm-0" >
                    <h3 class="text-white" routerLink="/admin" >Admin</h3>
                </button>
                &nbsp;&nbsp;
                    <a href="#" class="btn btn-primary btn-lg">
                      <span class="glyphicon glyphicon-shopping-cart text-white"></span>
                    </a>
                    <!-- <button class="btn btn-danger my-2 my-sm-0" >
                        <h3 class="text-white" routerLink="/cart-item" >Cart</h3>
                    </button> -->
                  
            </form>
        </div>
    </nav>
    
</div>
</div>
<router-outlet></router-outlet>