<!-- <div class="store">
  <div >
    <img src="../../assets/slider/Reno3 - PC_RK.jpg" height="700px"  width="100%" alt="">
  </div >

<div>
  <div class="card  m-3 " >
    <img class="card-img-top" src="../../assets/apple/1.jpg" alt="Card image cap">
    <div class="card-body">
      <div class="card-text">
        <label for=""><h2>Apple</h2></label>
      </div>
    </div>
  </div>
  <div class="card m-3" >
    <img class="card-img-top" src="../../assets/apple/2.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card m-3" >
    <img class="card-img-top" src="../../assets/apple/3.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card m-3" >
    <img class="card-img-top" src="../../assets/mi/L1.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card m-3" >
    <img class="card-img-top" src="../../assets/mi/L2.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card m-3" >
    <img class="card-img-top" src="../../assets/apple/1.jpg" alt="Card image cap">
    <div class="card-body">
      </div>
  </div>
</div>

 -->
