<table>
    <thead>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Password</th>
    </thead>
    <tbody>
        <tr >
            <button routerLink="/login">upload img</button>
            <!-- <td><input type="hidden" value{{s.id}}>{{s.name}} </td> -->
            <!-- <td>{{s.username}}</td>
            <td>{{s.email}}</td>
            <td>{{s.mobileno}}</td>
            <td>{{s.password}}</td> -->
           
            &nbsp;&nbsp; &nbsp;
            &nbsp;&nbsp; &nbsp;
                   
            

           
        </tr>
    </tbody>
</table>